.venv/
.ipynb_checkpoints/
.vscode/
.DS_Store
__pycache__/
*.py[cod]

# Salidas generadas por Spark
salida/
spark-warehouse/
metastore_db/
derby.log
.sparkStaging/

# Archivos auxiliares de Hadoop/Spark
._SUCCESS.crc
.part-*.crc
